.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 17vw;
  padding-right: 1rem;
}

.reviews {
  list-style: none;
  padding: 0;
}

.review {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.review p {
  margin: 0;
}

.comment {
  font-style: italic;
}

.rating {
  font-weight: 700;
}
