.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 17vw;
  padding-left: 1rem;
}

.screenings {
  list-style: none;
  padding: 0;
}

.screening {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.screening p {
  margin: 0;
}

.time {
  font-style: italic;
}

.date {
  font-weight: 600;
}
